

.chart-container {
  @apply bg-[var(--color-card)] p-4 rounded-2xl shadow-md border border-[var(--color-border)];
}

.recharts-tooltip-wrapper {
  @apply bg-[var(--color-card)] text-[var(--color-text)] p-2 rounded-lg border border-[var(--color-border)] shadow-md;
}

.recharts-legend-item-text {
  @apply text-sm text-[var(--color-text)];
}


.chart-transition {
  transition: all 0.3s ease-in-out;
}

.recharts-cartesian-axis-tick-value {
  @apply text-xs text-gray-500;
}
